<% content_for :breadcrumb do %>
    <li><%= link_to "首页", root_path %> <span class="divider">&raquo;</span></li>
    <li><%= link_to "活动管理", events_path %> <span class="divider">&raquo;</span></li>
    <li class="active">创建活动</li>
<% end %>

<% content_for :javascripts do %>
    <script id="ticket_row_template" type="text/template">
      <%% var prefix = 'event[tickets_attributes][]' %>
      <tr>
          <td><%%= ticket.name %></td>
          <td><%%= ticket.package %></td>
          <td><%%= ticket.online_price %></td>
          <td><%%= ticket.capacity %></td>
          <td><a class="edit_ticket_button btn btn-mini">编辑</a><a class="delete_ticket_button btn btn-mini">删除</a></td>
          <%% for (var prop in ticket) { %>
          <%% var name = prefix + '[' + prop + ']' %>
          <%% var value = ticket[prop] %>
          <input type="hidden" name="<%%= name %>" value="<%%= value %>">
          <%% } %>
      </tr>
    </script>
    <%= javascript_include_tag 'http://api.map.baidu.com/api?v=1.4' %>
    <%= javascript_include_tag 'http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js' %>
    <script type="text/javascript">
        $(function () {
            <%= render 'shared/regions.js', :resource => @event %>
            <%= render 'form.js', :resource => @event %>

            /*---------------------票券设定---------------------------------*/
            $('#save_ticket_button').click(function () {
                var that = $(this)
                var params = $('#ticket_form').serializeJSON()

                var row = template('ticket_row_template', {ticket: params.ticket})
                console.log(row)

                if ($('#ticket_form').attr('for') == 'new') {
                    $('#ticket_table tbody').append($(row))
                } else {
                    var index = $('#ticket_form').attr('for')
                    $('#ticket_table tbody tr:eq(' + index + ')').replaceWith($(row))
                }

                $('#ticket_form').hide()
                $('#ticket_table').show()
            })

            $('#cancel_ticket_button').click(function () {
                $('#ticket_form').hide()
                $('#ticket_table').show()
            })

            $('#new_ticket_button').click(function () {
                $('#ticket_form').attr('for', 'new')
                $('#ticket_form :input').val(['']) //clear

                $('#ticket_table').hide()
                $('#ticket_form').show()
            })

            $('.edit_ticket_button').live('click', function () {
                var that = $(this)

                var index = $('#ticket_table tbody tr').index(that.closest('tr'))
                $('#ticket_form').attr('for', index)
                var params = that.closest('tr').serializeJSON()
                params = params.event.tickets_attributes[0]
                for (var prop in params) {
                    var name = 'ticket[' + prop + ']'
                    var value = params[prop]
                    $('#ticket_form :input[name="' + name + '"]').val([value])
                }

                $('#ticket_table').hide()
                $('#ticket_form').show()
            })

            $('.delete_ticket_button').live('click', function () {
                var that = $(this)
                that.closest('tr').remove()
            })
        })
    </script>
<% end %>

<div class="row">

  <%= simple_form_for @event, :validate => false, :html => {:class => 'form-horizontal'} do |f| %>
      <fieldset>
        <legend>活动基本信息</legend>
        <%= render 'form', :f => f %>
      </fieldset>

      <fieldset>
        <legend>票券设定</legend>
        <table id="ticket_table" class="table table-striped">
          <caption></caption>
          <thead>
          <tr>
            <th>票种</th>
            <th>套票</th>
            <th>票价</th>
            <th>数量</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="6">
              <a class="btn btn-info" id="new_ticket_button">增加票种</a>
            </td>
          </tr>
          </tfoot>
        </table>
        <div id="ticket_form" class="hide well">
          <%= simple_fields_for @ticket do |ff| %>
              <%= render 'events/tickets/form', :f => ff %>
          <% end %>
          <a class="btn btn-info" id="save_ticket_button">保存</a>
          <a class="btn" id="cancel_ticket_button">取消</a>
        </div>
      </fieldset>

      <div class="form-actions">
        <%= submit_tag '保存草稿', :name => 'action_save_draft', :class => 'btn btn-primary' %>
        <%= submit_tag '保存并发布', :name => 'action_publish', :class => 'btn btn-primary' %>
        <%= submit_tag '取消', :type => :reset, :class => "btn btn-danger" %>
      </div>


  <% end %>

</div>